.*
!.git*
_*
*.out

docs/*
!docs/*.html

results/*

!results/barcode_counts
results/barcode_counts/*
!results/barcode_counts/*.csv

!results/plates
results/plates/*/*
!results/plates/qc_process_counts_summary.txt
!results/plates/*/frac_infectivity.csv
