.*
!.git*
_*
*.out

docs/*
!docs/*.html

results/*

!results/barcode_counts
results/barcode_counts/*
!results/barcode_counts/*.csv

!results/plates
results/plates/*/*
!results/plates/*/frac_infectivity.csv
!results/plates/*/curvefits.csv
!results/plates/*/qc_drops.yml

!results/sera
results/sera/*/*
!results/sera/groups_sera_by_plate.csv
!results/sera/*/titers.csv
!results/sera/*/titers_per_replicate.csv
!results/sera/*/qc_drops.yml

!results/aggregated_titers
results/aggregated_titers/*
!results/aggregated_titers/titers*.csv

!results/qc_drops
results/qc_drops/*
!results/qc_drops/*.yml

!results/miscellaneous_plates
results/miscellaneous_plates/*/*
!results/miscellaneous_plates/*/*counts.csv
