.*
!.git*
_*
*.out

# ignore everything in results, but not the directories themselves, so that the
# key results below can be re-included (`git` cannot re-include a file if one of
# its parent directories is excluded)
results/**
!results/**/

!results/barcode_counts/*.csv
!results/barcode_fates/*.csv

!results/plates/*/frac_infectivity.csv
!results/plates/*/curvefits.csv
!results/plates/*/qc_drops.yml

!results/sera/groups_sera_by_plate.csv
!results/sera/*/titers.csv
!results/sera/*/titers_per_replicate.csv
!results/sera/*/qc_drops.yml

!results/aggregated_titers/titers*.csv

!results/qc_drops/*.yml

!results/miscellaneous_plates/*/*counts.csv
!results/miscellaneous_plates/*/*fates.csv
